<!-- <nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container">
    <a class="navbar-brand" href="#">JunkyParse</a>
    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/inventory']" routerLinkActive="router-link-active" >Inventory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/uploader']" routerLinkActive="router-link-active" >Upload New</a>
          </li>
      </ul>
    </div>
  </div>
</nav> -->
<div class = "content">
  <div class="ui inverted vertical masthead center aligned segment">

      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
          <a class="item" [routerLink]="['/home']" routerLinkActive="active" >Home</a>
          <!-- <a class="item" [routerLink]="['/uploader']" routerLinkActive="active" >Upload</a> -->
          <a class="item" [routerLink]="['/parser']" routerLinkActive="active" >Upload</a>
          <div class="right item">
            <a class="ui inverted button">Log in</a>
            <a class="ui inverted button">Sign Up</a>
          </div>
        </div>
      </div>
    </div>  
    <router-outlet></router-outlet>
</div>



<div class="espace"></div>

<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link Three</a>
            <a href="#" class="item">Link Four</a>
          </div>
        </div>
        <div class="three wide column">
            <h4 class="ui inverted header">Professionals</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Link One</a>
              <a href="#" class="item">Link Two</a>
              <a href="#" class="item">Link Three</a>
              <a href="#" class="item">Link Four</a>
            </div>
          </div>

          <div class="ten wide right floated column">
            <h4 class="ui inverted header">Footer Header</h4>
            <p>Extra space for a call to action.</p>

          </div>
      </div>
      <div class="ui inverted section divider"></div>
      <!-- <img src="assets/images/logo.png" class="ui centered mini image"> -->
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div> 
    </div>
  </div>
